<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="assets/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Youtube Videos With Your Friends</title>
  </head>
  <body>
<div class="all">
<h1>Welcome</h1>
<h3>Watch Youtube Videos With Your Friends Synchronously.</h3>
<div class="main">
<div class="img" >

</div>
  <div class="btns">
<div  class="btn xxx btn1" style="">Start New Player</div>
<div  class="btn hvr-bounce-to-bottom btn2">Have a Code</div>

  </div>
</div>
<div class="made">
  <h4>Made By Ibrahim Rahhal</h4>
  <a href="http://ibrahimrahhal.me">Check Website</a>
</div>
</div>
<div class="first-form first">
  <h1 style="color:#ffffff;   margin-top: 30vh;">Please Enter The Video url</h1>
  <form class="" action="host/" method="get">
    <input type="text" name="url" value="" placeholder="Youtube URL">
    <button type="submit" name="submit">Start</button>
  </form>
</div>
<div class="first-form second">
  <h1 style="color:#ffffff;   margin-top: 30vh;">Please Enter Your Invitation Code</h1>
  <form class="" action="guest/" method="get">
    <input type="text" name="code" value="" placeholder="Code">
    <button type="submit" name="submit" >Go</button>
  </form>
</div>
<div class="not-comp">
  <h1>Sorry, Your screen Resolution isn't Supported</h1>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
$(".btn1").click(()=>{
$(".first").show("fade",200);



});
$(".btn2").click(()=>{
$(".second").show("fade",200);



});


  </script>

  </body>
</html>
